@import "../../../assets/variables.styl"
.detail
  box-sizing border-box
  position relative
  background rgba(246,246,246,1)
  margin-bottom 88rpx
  section
    background-color #fff
  &_s
    margin-bottom .2rem
  &_status.detail_status
    margin-bottom .2rem
    padding .4rem .32rem .34rem .4rem
    color #fff
    font-size .28rem
    width 7.5rem
    box-sizing border-box
    background url(https://dm-cdn-prd.oss-cn-hangzhou.aliyuncs.com/images/common/common_bg.jpg) no-repeat
    background-size cover
    .order
      &_status
        padding-bottom .65rem
        .status
          font-size .48rem
          line-height .64rem
          position relative
          &:after
            content " "
            width 1rem
            height 1px
            position absolute
            background-color #fff
            top .94rem
            bottom 0
            left 0
        .custom-service
          border 1px solid #FFFFFF
          border-radius 1rem
          padding .16rem .3rem
          line-height 1
          float right
      &_num
        line-height 40rpx
        margin-bottom 12rpx
        .title
          font-size 28rpx
          color rgba(255,255,255,1)
          font-weight 400
        .content
          font-size 28rpx
          color rgba(255,255,255,1)
          font-weight 500
      &_time
        .title
          font-size 28rpx
          color rgba(255,255,255,1)
          font-weight 400
        .content
          font-size 28rpx
          color rgba(255,255,255,1)
          font-weight 500
  &_address,
  &_count,
  &_express
    margin 0 0 .2rem 0
    padding 0 0 0 .32rem
    font-size .28rem
    line-height .33rem
    &_hd
      padding .32rem .32rem .32rem 0
      color $mainColor2
      &_content
        color rgba(35,35,35,1)
      &_content2
        color rgba(244,107,106,1)
      .edit
        color $mainColor
    &_none
      padding-bottom .4rem
      .content
        text-align center
        margin 0 .8rem 0 .48rem
        padding .4rem 0
        color $mainColor
        border 1px dashed $mainColor3
        border-radius .08rem
    &_bd
      padding-bottom .2rem
      &_title
        display inline-block
        color $mainColor2
        min-width 140rpx
        margin-right .24rem
      &_content
        color $mainColor0
      .commission
        color $subColor
      .total
        color $mainColor
    &_bb
      padding-bottom .32rem
  &_express
    &_bd
      padding-bottom 0
      &_content
        position relative
        color rgba(244,107,106,1)
        padding 0 0 .24rem .44rem
        margin-left .12rem
        border-left .04rem solid $mainColor4
        .line
          border-left .04rem dotted $mainColor4
          height .28rem
          position absolute
          left -.03rem
          top -.14rem
        .circle
          width .16rem
          height .16rem
          background-color rgba(244,107,106,1)
          border-radius 50%
          position absolute
          left -.17rem
          border .08rem solid rgba(255,255,255,0.67);
        .context
          font-size .28rem
          line-height .4rem
          margin-bottom .12rem
        .time
          font-size .24rem
          line-height .29rem
  &_goods
    &_header
      color $mainColor2
      padding .32rem .32rem 0 .32rem
      line-height .4rem
      font-size .28rem
    &_content
      padding .32rem 0 .24rem 0
      display flex
      margin-left .32rem
      .pic
        width 220rpx
        height 220rpx
        object-fit cover
        margin-right .18rem
      .info
        display flex
        flex-direction column
        justify-content space-between
        width 4.48rem
        &_title
          overflow hidden
          height 80rpx
          font-size 28rpx
          line-height 40rpx
          text-overflow ellipsis
          display -webkit-box
          -webkit-line-clamp 2
          -webkit-box-orient vertical
        &_count
          font-size 24rpx
          line-height 33rpx
          color rgba(160,160,160,1)
          margin-top 8rpx
        &_tips
          color $mainColor2
          font-size .22rem
          line-height .26rem
          margin-top .08rem
          &_abroad
            font-size .16rem
            padding .015rem .065rem
            border-radius .05rem
            color #fff
            background-color $subColor
            margin-right .05rem
            vertical-align top
        &_status
          color $mainColor
          display flex
          justify-content space-between
          &_count
            line-height 40rpx
            color rgba(81,81,81,1)
            margin-left 18rpx
            font-size 28rpx
          &_value
            line-height 40rpx
            color rgba(244,107,106,1)
            font-size 28rpx
          &_discount
            color $mainColor2
            font-size .24rem
          &_btn
            font-size .28rem
          .tips
            color $mainColor2
    &_info
      padding .4rem .32rem
      color $mainColor2
      font-size .28rem
      line-height .4rem
      .btn
        color $mainColor
        margin-left .32rem
      .warn
        color $subColor
  &_order
    margin 0 0 .2rem 0
    padding .24rem .32rem
    font-size .28rem
    &_express
      margin-bottom .12rem
    &_express,
    &_count
      .title
        color $mainColor2
      .content
        display inline-block
      .value
        font-size 28rpx
        color rgba(244,107,106,1)
  &_cancel
    color $subColor
    font-size 32rpx
    &_btn
      height 88rpx
      background rgba(255,255,255,1)
  &_pay
    font-size 32rpx
    background-color #fff
    height 88rpx
    position fixed
    bottom 0
    width 100%
    display flex
    justify-content space-between
    box-sizing border-box
    &_hd
      display flex
      align-items center
      justify-content space-between
      width 68%
      padding 16rpx 24rpx
      .title
        font-size 28rpx
      .value
        font-size 32rpx
        color rgba(244,107,106,1)
      .express
        color $mainColor2
        font-size .24rem
        display inline-block
        margin 0 .4rem 0 .18rem
      .tips
        color rgba(244,107,106,1)
        font-size 20rpx
        line-height 28rpx
        display inline-block
      .tips_check
        margin-left 60rpx
        font-size 24rpx
        color rgba(244,107,106,1)
    &_btn
      width 32%
      line-height 45rpx
      background rgba(0,0,0,1)
      color rgba(255,255,255,1)
      font-size 32rpx
      display flex
      align-items center
      justify-content center
      .load3
        vertical-align text-top
