lightenColor(value)
  lighten(#232323, value)

$mainColor = #000000
$subColor = #F46B6A
$alertColor = #CA0000
$whiteColor = #FFFFFF
$mainColor0 = lightenColor(0)
$mainColor1 = lightenColor(18)
$mainColor2 = lightenColor(49)
$mainColor3 = lightenColor(68.2)
$mainColor4 = lightenColor(78)
$mainColor5 = lightenColor(80.5)
